# **Beginner Task**

## **⇒ VARIABLES**

#### 1. Create a variable named pi and store the value 22/7 in it. Now check the data type of this variable..

In [2]:
pi = 22/7
print(type(pi))

<class 'float'>

#### 2. Create a variable called for and assing it a value 4. See what happens and find out the reason behind the behaviour that you see.

In [1]:
for = '4'

SyntaxError: invalid syntax (1903135117.py, line 1)

##### REASON : In Python, reserved keywords are special words that the language itself uses for its syntax and operations. These keywords have predefined meanings and are part of the Python syntax. Because of their special roles, they cannot be used as identifiers

#### 3. Store the principal amount, rate of interest, and time in different variables and then calculate the simple Interest for 3 years.

In [6]:
p = float(input("Principal : "))
r = float(input("Rate of Interest : "))
t = 3

SI = (p*t*r) / 100

print(f"Simple Interest for {t} years is {SI}")

Principal :  1000
Rate of Interest :  4.7

Simple Interest for 3 years is 141.0

## **⇒ NUMBERS**

#### 1. Write a function that takes two arguments, 145 and 'o', and uses the `format` function to return a formatted string. Print the result. Try to identify the representation used.

In [7]:
def FormatedAnswer(num, chr):
    return "{:d}{:s}".format(num, chr)

answer = FormatedAnswer(143, 'o')
print(answer)

143o

##### d - used for integer
##### s - used for string

#### 2. In a village, there is a circular pond with a radius of 84 meters. Calculate the area of the pond using formula : Circle Area = π*r^2. (Use the value 3.14 for π) Bonus Question: If there is exactly 1.4 liters of water in a square meter, what is the total amount of water in the pond? Print the answer without any decimal point in it.

In [9]:
radius = 84
area = 3.14*(radius**2)
water_sq = 1.4
total_amt = area * water_sq

print(f"Area of the pond is : {area} Sqaure Meters")
print(f"Total amount of water in the pond is : {int(total_amt)} Liters")

Area of the pond is : 22155.84 Sqaure Meters
Total amount of water in the pond is : 31018 Liters

#### 3. If you cross a 490m long street in 7 minutes, calculate your speed in meters per second. Print the answer without any decimal point in it.

In [12]:
distance = int(input("Enter Distance : "))

hours = int(input("Hours : "))
minutes = int(input("Minutes : "))
seconds = int(input("Seconds : "))

time = (hours*3600)+(minutes*60)+seconds

speed = distance/time 

print(f"Speed is {int(speed)} m/s")

Enter Distance :  10000
Hours :  2
Minutes :  30
Seconds :  20

Speed is 1 m/s

## **⇒ LIST**

#### You have a list of superheroes representing the justice League. jutice_league = ["Superman","Batman", "Wonder Woman", "Flash", "Aquaman", "Green Lantern"]. 
### perform the following tasks

#### 1. Calculate the number of members in the Justice League

In [13]:
justice_league = ["Superman","Batman", "Wonder Woman", "Flash", "Aquaman", "Green Lantern"]
print(f"There are {len(justice_league)} members in Justice League")

There are 6 members in Justice League

#### 2. Batman recruited Batgirl and Nightwing as new members. Add them to your list.

In [14]:
justice_league.append("Batgirl")
justice_league.append("Nightwing")

print("Justice League after addition of two new members is ", justice_league)

Justice League after addition of two new members is  ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

#### 3. Wonder Woman is now the leader of the Justice League. Move her to the beginning of the list.

In [15]:
Wonderwoman_index = justice_league.index("Wonder Woman")
Wonderwoman = justice_league.pop(Wonderwoman_index)

justice_league.insert(0, Wonderwoman)

print(justice_league)

['Wonder Woman', 'Superman', 'Batman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']

#### 4. Aquaman and Flash are having conflicts, and you need to separate them. Choose either "Green Lantern" or "Superman" and move them in between Aquaman and Flash.

In [18]:
index_aquaman = justice_league.index("Aquaman")
index_flash = justice_league.index("Flash")

hero_to_move = input("Enter hero to move : ")

if hero_to_move in justice_league:
    justice_league.remove(hero_to_move)
    justice_league.insert(index_aquaman, hero_to_move)
    print(justice_league)
else:
    print(f"{hero_to_move} is not in the Justice League list.")

Enter hero to move :  Green Lantern

['Wonder Woman', 'Superman', 'Batman', 'Flash', 'Green Lantern', 'Aquaman', 'Batgirl', 'Nightwing']

#### 5. The Justice League faced a crisis, and Superman decided to assemble a new team. Replace the existing list with the following new members: "Cyborg", "Shazam", "Hawkgirl", "Martian", "Manhunter", "Green Arrow".

In [23]:
new_team = ["Superman", "Cyborg", "Shazam", "Hawkgirl", "Martian", "Manhunter", "Green Arrow"]

justice_league = new_team

print("New Justice League is", justice_league)

New Justice League is ['Superman', 'Cyborg', 'Shazam', 'Hawkgirl', 'Martian', 'Manhunter', 'Green Arrow']

#### 6. Sort the Justice League alphabetically. The hero at the 0th index will become the new leader.

In [25]:
justice_league.sort()

print("Sorted Justice League ", justice_league)

Sorted Justice League  ['Cyborg', 'Green Arrow', 'Hawkgirl', 'Manhunter', 'Martian', 'Shazam', 'Superman']

#### *BONUS QUESTION*

In [26]:
new_leader = justice_league[0]
print("New Leader is :", new_leader)

New Leader is : Cyborg

## **⇒ IF CONDITION**

#### 1. Write a program to determine the BMI Category based on user input.
#### Ask the user to:
####   Enter height in meters
####   Enter weight in kilograms
####   Calculate BMI using the formula: BMI = weight / (height)2
#### Use the following categories:
#### If BMI is 30 or greater, print "Obesity"
#### If BMI is between 25 and 29, print "Overweight"
#### If BMI is between 18.5 and 25, print "Normal"
#### If BMI is less than 18.5, print "Underweight"
#### Examples: Enter height in meters: 1.75, Enter weight in kilograms: 70
#### Output: "Normal"

In [5]:
height = float(input("Enter height in Meters: "))
weight = float(input("Enter weight in Kilograms: "))
BMI = weight / (height)**2 

if BMI >= 30:
    print("Obesity")
elif BMI >= 25 and BMI <= 29:
    print("Overweight")
elif BMI >= 18.5 and BMI <= 24:
    print("Normal")
elif BMI < 18.5:
    print("Underweight")

Enter height in Meters:  1.71
Enter weight in Kilograms:  70

Normal

#### 2. Write a program to determine which country a city belongs to. Given list of cities per country:
#### Australia = ["Sydney", "Melbourne", "Brisbane", "Perth"]
#### UAE = ["Dubai", "Abu Dhabi", "Sharjah", "Ajman"]
#### India = ["Mumbai", "Bangalore", "Chennai", "Delhi"]
#### Example: 
#### Enter a city name: "Abu Dhabi"
#### Output: "Abu Dhabi is in UAE"

In [7]:
Australia = ["Sydney", "Melbourne", "Brisbane", "Perth"]
UAE = ["Dubai", "Abu Dhabi", "Sharjah", "Ajman"]
India = ["Mumbai", "Bangalore", "Chennai", "Delhi"]

country = input("Enter a city name : ")

if country in Australia:
    print(f"{country} is in Australia")
elif country in UAE:
    print(f"{country} is in UAE")
elif country in India:
    print(f"{country} is in India")
else:
    print(f"{country} is Unknown")

Enter a city name :  Canberra

Canberra is Unknown

#### 3. Write a program to check if two cities belong to the same country. Ask the user to enter two cities and print whether they belong to the same country or not.

### Example: 
#### Enter the first city: "Mumbai"
#### Enter the second city: "Chennai"
#### Output: "Both cities are in India"

In [10]:
Australia = ["Sydney", "Melbourne", "Brisbane", "Perth"]
UAE = ["Dubai", "Abu Dhabi", "Sharjah", "Ajman"]
India = ["Mumbai", "Bangalore", "Chennai", "Delhi"]

city1 = input("Enter First city : ")
city2 = input("Enter Second city : ")

if city1 and city2 in Australia:
    print(f"Both cities are in Australia")
elif city1 and city2 in UAE:
    print(f"Both cities are in UAE")
elif city1 and city2 in India:
    print(f"Both cities are in India")
else:
    print(f"Both are in Different countries!")

Enter First city :  Delhi
Enter Second city :  Chennai

Both cities are in India

## **⇒ DICTIONARY**

#### 1. Create a list of your friends' names. The list should have at least 5 names. Create a list of tuples. Each tuple should contain a friend's name and the length of the name. For example, if someone’s name is Aditya, the tuple would be: ('Aditya', 6)

In [11]:
names = ["Amarnath", "Badrinath", "Chamundeshwari", "Devika", "Eeshwari"]

name_tuples = [(name, len(name)) for name in names]

print(name_tuples)

[('Amarnath', 8), ('Badrinath', 9), ('Chamundeshwari', 14), ('Devika', 6), ('Eeshwari', 8)]

#### 2. You and your partner are planning a trip, and you want to track expenses. Create two dictionaries, one for your expenses and one for your partner's expenses. Each dictionary should contain at least 5 expense categories and their corresponding amounts.
#### for example: 
#### your_expenses = {"Hotel": 1200, "Food": 800, "Transportation": 500, "Attractions": 300, "Miscellaneous": 200}
#### partner_expenses = {"Hotel": 1000, "Food": 900, "Transportation": 600, "Attractions": 400, "Miscellaneous": 150}
#### Calculate the total expenses for each of you and print the results. Determine who spent more money overall and print the result. Find out the expense category where there is a significant difference in spending between you and your partner. Print the category and the difference.

In [17]:
your_expenses = {
    "Hotel": 1200,
    "Food": 800,
    "Transportation": 500,
    "Attractions": 300,
    "Miscellaneous": 200
}

partner_expenses = {
    "Hotel": 1000,
    "Food": 900,
    "Transportation": 600,
    "Attractions": 400,
    "Miscellaneous": 150
}

total_your_expenses = sum(your_expenses.values())
total_partner_expenses = sum(partner_expenses.values())

print(f"Your total expenses: ₹{total_your_expenses}")
print(f"Partner's total expenses: ₹{total_partner_expenses}")

if total_your_expenses > total_partner_expenses:
    print("You spent more money overall.")
elif total_your_expenses < total_partner_expenses:
    print("Your partner spent more money overall.")
else:
    print("You and your partner spent the same amount of money.")

max_difference = 0
category_with_max_difference = ""

for category in your_expenses:
    difference = abs(your_expenses[category] - partner_expenses[category])
    if difference > max_difference:
        max_difference = difference
        category_with_max_difference = category

print(f"The expense category with the most significant difference is '{category_with_max_difference}' with a difference of  ₹{max_difference}.")

Your total expenses: ₹3000
Partner's total expenses: ₹3050
Your partner spent more money overall.
The expense category with the most significant difference is 'Hotel' with a difference of  ₹200.